body {
  /*colour of background + body text font setup*/
  background-color: white;
  font-size: 100%;
}

h1 {
  font-size: large;
  height: 10%;    /* Height set to percentage makes website responsive */
  max-width: 100%;
  font-family: sans-serif;
  padding-left: 10%;
}

h5 {  /*centres text*/
  padding-right: 10%;
  padding-left: 10%;
  /*override command used as backstrap icon stylesheet is changing text colour*/
  color: grey !important;
}

h6 {
  /*override command used as backstrap icon stylesheet is changing text colour*/
  color: grey !important;
}


ul{ /*get rid of bullet points*/
  list-style: none;
}

#icons li {
  display: inline; /*lines up icon options side by side*/
}

#icons {
  /*moves icons under heading*/
  padding-left: 7%;
}

.container {
  /*puts both text and images in center*/
  display: flex;
  justify-content: center;
}

img {/*defines width of images*/
  max-width: 50%
}

video {
  /*defines width of video*/
  max-width: 95%
}
.left {/*sets intial size of side*/
  padding-left: 5%;
  flex-basis: 60%;
}

.right {/*sets intial size of side*/
  flex-basis: 40%
}