body {
  /*colour of background + body text font setup*/
  background-color: white;
  font-size: 100%;
}

h1 {
  font-size: large;
  height: 10%;    /* Height set to percentage makes website responsive */
  max-width: 100%;
  font-family: sans-serif;
  padding-left: 10%;
}

h5 {  /*centres text*/
  padding-right: 10%;
  padding-left: 10%;
  /*override command used as backstrap icon stylesheet is changing text colour*/
  color: grey !important;
}

h6 {
  /*override command used as backstrap icon stylesheet is changing text colour*/
  color: grey !important;
}


ul{ /*get rid of bullet points*/
  list-style: none;
}

#icons li {
  display: inline; /*lines up icon options side by side*/
}

#icons {
  /*moves icons under heading*/
  padding-left: 7%;
}

.projects {
  /*Grid layout allows you to display items in rows and columns*/
  display: grid;
  grid-template-columns: auto auto; /* creates two columns of default size*/
  row-gap: 5%; /*creates small gap between each row so pcitures not stuck to each other */
  column-gap: 1%; /*creates small gap between each row so pcitures not stuck to each other */
}

img {/*defines width of images*/
  max-width: 95%;
}

.text {/*moves text closer to the image*/
  text-align: left;
  padding-left: 20%;
}

.picture {/*moves images to centre of page*/
  padding-right: 20%;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .projects{ /*Used block layout since it is easier to see on phone*/
    display: block;
  }
  .img { /*Make image as big as the screen will allow for visbility*/
    max-width: fit-content;
  }
  .picture { /*centers image on small screen*/
    padding-right: 5%;
    padding-left: 10%;
  }
  .text {/*aligns text to center*/
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
  }
}